.imagen{
    margin-top: 5rem;
}

.titulo, .tituloRedSocial{
    margin-bottom: 2%;
}

.tituloRedSocial{
    margin-top: 2%;
}

.facebook, .google{
    display: flex;
    align-items: center;
    background-color: #3f65a6;
    color: #f4f4f4;
    margin-top: 1rem;
    width: 350px;
}

.google{
    background-color: #f4f4f4;
    color: #343434;
}

.registroFacebook, .registroGoogle{
    margin: 0;
    padding-left: 3em;
}

@media (max-width: 991px) {
    .contenedor-imagen{
        display: none;
    }
}